# Exercises for Section 2: Data Structuring

In this combined teaching module and exercise set you will be working with structuring data. 

We will start out with some material about how write readable code. 

Then we will focus on data cleaning, in particular working with pandas data types and new data types:
1. String  data
1. Categorical data
1. Temporal data
1. Missing data and duplicates

## Packages
But first... load in the required modules and set up the plotting library:

In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Welcome (Back to) Pandas

As mentioned during the lecture, data structuring skills are necessary to become a great data scientist. There is no way around it. 

Let's start with the basics. In the following video, we start with talking about the fundamentals of Pandas: The Pandas DataFrame and the Pandas Series

# VIDEO 1

# Exercises

In this set of introductory exercises, we are going use some of the tools from the video. Be aware that there is going to be some repition of the content from assignment 0 here - but these things are all very useful to get under your skin!

First, run the following two lines below. What did the second line do? What was the first? Try and change the seed...

In [3]:
np.random.seed(seed=161193)
np_arr=np.random.rand(4,3)

Now, generate a Pandas DataFrame called `my_df` from `np_arr`:

In [4]:
# my_df = 
### BEGIN SOLUTION
my_df = pd.DataFrame(np_arr)
### END SOLUTION

Before we continue working with this DataFrame, we want to make sure that you are capable of transforming them back to different types of containers. 

In the following part, generate an `array`, a `list` of lists and a `dict` from `my_df`. 

You should be able to do each of these things in one line. Verify that you did this properly by printing your output.

In [5]:
# my_arr = 
# my_list = 
# my_dict =

### BEGIN SOLUTION
my_arr = my_df.values
my_dict = my_df.to_dict()
my_list = my_df.values.tolist()
### END SOLUTION

Going back to the DataFrame, we want you to try the following: 
1. label the columns `col1`, `col2` and `col3`
2. change the indices to Roman numerals

Display `my_df` after having made these changes.

In [6]:
### BEGIN SOLUTION
cols = ['col1', 'col2', 'col3']
indx = ['i', 'ii', 'iii', 'iv'] 
my_df.columns=cols
my_df.index=indx
### END SOLUTION

my_df

         col1      col2      col3
i    0.392853  0.027592  0.150674
ii   0.328318  0.510783  0.870753
iii  0.102371  0.360334  0.169993
iv   0.232413  0.575514  0.322596

Try to go back

In [27]:
### BEGIN SOLUTION
my_ser = my_df['col2']
### END SOLUTION

my_ser

i      0.027592
ii     0.510783
iii    0.360334
iv     0.575514
Name: col2, dtype: float64

In [29]:
### BEGIN SOLUTION
my_arr2 = my_df.values
### END SOLUTION

my_arr2

array([[0.39285338, 0.02759191, 0.15067405],
       [0.32831842, 0.51078339, 0.87075339],
       [0.10237089, 0.36033395, 0.16999285],
       [0.23241257, 0.57551393, 0.32259622]])

In [31]:
### BEGIN SOLUTION
my_dict = my_df.to_dict()
### END SOLUTION

my_dict

{'col1': {'i': 0.39285337677233134,
  'ii': 0.3283184207598464,
  'iii': 0.1023708897883584,
  'iv': 0.23241256793283005},
 'col2': {'i': 0.027591907203866506,
  'ii': 0.5107833872168315,
  'iii': 0.36033394924487483,
  'iv': 0.5755139315316452},
 'col3': {'i': 0.15067405305203407,
  'ii': 0.8707533892846663,
  'iii': 0.1699928508058457,
  'iv': 0.3225962164459285}}

# Comment on Readable Code

If we have lots of code it may be very difficult for others or ourselves to read. Therefore, providing some structure and meta text can help reading the code.


## Commenting

When making code it's good practice to document different parts of the code. In particular describing functions and complex code. The example below shows how to make multi-line comments (as a string, which is not assigned) and in-line comments using the `#` character.

```python
def my_fct(x,y):
    ''' 
    Computes the sum of input values (multi-line comment as string)
    '''
    z = x+y # Here we perform the summation (in-line comment)
    return z
```


## Method chaining

We can write multiple operations together by putting them one after the other, which is known as `method chaining`. Using this, we only need to assign them once to a new object and therefore we save a lot of code. We change the example below into one using a method chain:

Example without method chain
```python
df_temp1 = df.loc[selection]
df_temp2 = df_temp1.sort_values(by=X)
df_out = df_temp2.reset_index()
```

Example with method chain - one line

```python
df_out = df.loc[selection].sort_values(by=X).reset_index()
```
As seen in the example, although using less code, our method chain will get more and more difficult to read if we include two or more operations. We can overcome this problem of long chains by splitting into multiple lines with line breaks:

Example with method chain - line break
```python
df_out = df\
        .loc[selection]\
        .sort_values(by=X)\
        .reset_index()
```

Note that the backslash allows us to make a visual line break, but the code is read as one line.

## Weather data structuring - part 2

We continue with the exercise that analyzes NOAA data. The first part was Assignment Part 0.4. The last part will come in Exercise Section 5.2. We start out reviewing what we did in Assignment 0.

> **Ex. 4.1.1:** The code below runs through all the steps we completed in Assignment 0.4 step by step. Your task is to document this code in your own words. You should also make your own annotation of parts. You should also make the code more readable by applying method chaining.

```python
import pandas as pd

def load_weather(year):
    
    url = f"ftp://ftp.ncdc.noaa.gov/pub/data/ghcn/daily/by_year/{year}.csv.gz"

    df_weather = pd.read_csv(url, 
                             header=None)        


    df_weather = df_weather.iloc[:,:4] 
    
    column_names = ['station', 'datetime', 'obs_type', 'obs_value']
    df_weather.columns = column_names 
    
    df_weather['obs_value'] = df_weather['obs_value'] / 10 
    
    
    selection_tmax = df_weather.obs_type == 'TMAX'
    df_select = df_weather.loc[selection_tmax]
    
    df_sorted = df_select.sort_values(by=['station', 'datetime'])
    df_reset = df_sorted.reset_index(drop=True)
    df_out = df_reset.copy()
            
    
    return df_out
```

In [22]:
# [Answer to Ex. 4.1.1]

### BEGIN SOLUTION

import pandas as pd # Import pandas package

def load_weather(year):
    
    url = f"ftp://ftp.ncdc.noaa.gov/pub/data/ghcn/daily/by_year/{year}.csv.gz"

    # Load the data
    df_weather = pd.read_csv(url, header=None)\
                             .iloc[:,:4]
    
    # Structure and clean data using methods chaining
    df_out = df_weather\
                .rename(columns = {0: 'station', 1: 'datetime', 2: 'obs_type', 3: 'obs_value'})\
                .query("obs_type == 'TMAX'")\
                .assign(obs_value = lambda df: df['obs_value']/10)\
                .sort_values(by=['station', 'datetime'])\
                .reset_index(drop=True)\
                .copy()
    
    return df_out

### END SOLUTION

load_weather(1863)

          station  datetime obs_type  obs_value
0     AGE00135039  18630102     TMAX       11.5
1     AGE00135039  18630103     TMAX       11.0
2     AGE00135039  18630105     TMAX       15.5
3     AGE00135039  18630106     TMAX       16.5
4     AGE00135039  18630107     TMAX       15.0
...           ...       ...      ...        ...
5875  USW00014838  18630727     TMAX       20.6
5876  USW00014838  18630728     TMAX       19.9
5877  USW00014838  18630729     TMAX       25.1
5878  USW00014838  18630730     TMAX       29.4
5879  USW00014838  18630731     TMAX       25.6

[5880 rows x 4 columns]

# Data types

## String data
We will proceed with learning about processing string data. We have already seen this in Python (session). See the video with a short recap and how we do things in Python.

In [ ]:
YouTubeVideo('bMGRna-iLFM', width=640, height=360)

> **Ex. 4.1.2:** Load the data for year 1864. Extract the area code (country and state) from the station name into a separate column.

> _Hint:_ The station column contains a GHCND ID, given to each weather station by NOAA. The format of these ID's is a 2 letter country/state code, followed by possible additional information on the third character and then an integer identifying the specific station. A simple approach is to assume a fixed length of the country ID. A more complex way would be to use the [`re`](https://docs.python.org/3.8/library/re.html) module.

In [ ]:
# [Answer to Ex. 4.1.2]

## Categorical data

Watch the video below introducing categorical data and how to work with it.

In [ ]:
YouTubeVideo('qGAYwb8NHPE', width=640, height=360)

> **Ex. 4.1.3:** 
Convert the `area` column to a categorical variable. 
Transform the `obs_value` column from a continuous to a categorical variable by partitioning it into `3` intervals. Call this new column for `obs_value_cat`.  This can be done using the `pd.cut()` method of pandas. 
Make another column with  `obs_value` as a categorical variable but this time label the 3 intervals as `["cold", "medium", "hot"]`. This can be done by specifying the `labels` parameter in the `pd.cut()` method of pandas. Call this new column for `obs_value_cat_labeled`.

In [ ]:
# [Answer to Ex. 4.1.3]

## Temporal data

Our coverage of basic Python did not include time. This is another elementary datatypes, that has its own native structure or maybe converted to an integer using a smart method. See more below.

In [ ]:
YouTubeVideo('BGnxa6mT94g', width=640, height=360)

> **Ex. 4.1.4:** Convert the date formatted as string to datetime. Call this column `datetime_dt`. Make a new column named `month` with the month for each observation. Set the datetime variable as temporal index. 

> Hint: Look up `.set_index()` setting the index.

In [ ]:
# [Answer to Ex. 4.1.4]

> **Ex. 4.1.5:** Update your annotated function above with processing of area and temporal data.

In [ ]:
# [Answer to Ex. 4.1.5]

> **Ex. 4.1.6:** Make a timeseries plot for the stations called `AU000005901`.

> _Hint:_ for this you need to know a few methods of the pandas Series objects. `.plot()`.

In [ ]:
# [Answer to Ex. 4.1.6]

##  Working with US census data

In this section we will use [this dataset](https://archive.ics.uci.edu/ml/datasets/Adult) from the [UCI Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets.html) to practice some basic operations on pandas dataframes.

> **Ex. 4.2.1:** This link `'https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data'` leads to a comma-separated file with income data from a US census. Load the data into a pandas dataframe and show the 25th to 35th row.

> _Hint 1:_ There are no column names in the dataset. Use the list `['age','workclass', 'fnlwgt', 'educ', 'educ_num', 'marital_status', 'occupation','relationship', 'race', 'sex','capital_gain', 'capital_loss', 'hours_per_week', 'native_country', 'wage']` as names. 

> _Hint 2:_ When you read in the csv, you might find that pandas includes whitespace in all of the cells. To get around this include the argument `skipinitialspace = True` to `read_csv()`.

In [ ]:
# [Answer to Ex. 4.2.1]

##  Missing data

Often our data having information missing, e.g. one row lacks data on education for a specific person. Watch the video below about missing data type and get some simple tools to deal with the problem.

In [ ]:
YouTubeVideo('GDaxQig-qCU', width=640, height=360)

> **Ex. 4.2.2:** What is the missing value sign in this dataset? Replace all missing values with NA's understood by pandas. Then proceed to drop all rows containing any missing values with the `dropna` method. How many rows are removed in this operation?

> _Hint 1:_ if this doesn't work as expected you might want to take a look at the hint for 4.2.1 again.
 
> _Hint 2:_ The NaN method from NumPy might be useful

In [ ]:
# [Answer to Ex. 4.2.2]

##  Duplicated data

Watch the video below about duplicated data - in particular duplicated rows and how to handle them.

In [ ]:
YouTubeVideo('BLLQofon9Ug', width=640, height=360)

> **Ex. 4.2.3:** Determine whether or not duplicated rows is a problem in the NOAA weather data and the US census data in the module. You should come up with arguments from the structure of the rows.

In [ ]:
# [Answer to Ex. 4.2.3]

##  Overview of data types

Watch the video below about duplicated data - in particular duplicated rows and how to handle them.

In [ ]:
YouTubeVideo('mohBV7crmsU', width=640, height=360)

##  Additional exercises

> **_Note_**: to solve the bonus exercises below, you will need to apply the `.groupby()` method a few times. This has not yet been covered in the lectures (you will see it in on of the next lectures).  
>
> `.groupby()` is a method of pandas dataframes, meaning we can call it like so: `data.groupby('colname')`. The method groups your dataset by a specified column, and applies any following changes within each of these groups. For a more detailed explanation see [this link](https://www.tutorialspoint.com/python_pandas/python_pandas_groupby.htm). The [documentation](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.groupby.html) might also be useful.

> **Ex. 4.2.4:** (_Bonus_) Is there any evidence of a gender-wage-gap in the data? Create a table showing the percentage of men and women earning more than 50K a year.

In [ ]:
# [Answer to Ex. 4.2.4]

> **Ex. 4.2.5:** (_Bonus_) Group the data by years of education (`educ_num`) and marital status. Now plot the share of individuals who earn more than 50K for the two groups 'Divorced' and 'Married-civ-spouse' (normal marriage). Your final result should look like this: 

![](examplefig.png)

> _Hint:_ remember the `.query()` method is extremely useful for filtering data.

In [ ]:
# [Answer to Ex. 4.2.5]