# Session 2B: Data Structuring in Pandas

*Joachim Kahr Rasmussen*

# VIDEO 1: DataFrames and Series

## Loading Stuff

In [1]:
# Loading packages
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import requests
import seaborn as sns

## Pandas Data Types
*How do we work with data in Pandas?*

- We use two fundamental data stuctures: 
  - ``Series``, and
  - ``DataFrame``.

## Pandas Series (I/V)
*What is a `Series`?*

- A vector/list with labels for each entry. Example:

In [2]:
L = [1, 1.2, 'abc', True]

my_series = pd.Series(L)
my_series

0       1
1     1.2
2     abc
3    True
dtype: object

## Pandas Series (II/V)
*What are the components in a Series?*

From before, we could see that a Series generally consists of three components:

- `index`: label for each observation

- `values`: observation data

- `dtype`: the format of the series (`object` means any data type is allowed)
  - examples are fundamental datatypes (`float`, `int`, `bool`)  
      - in terms of precision: `float`>`int`>`bool`
      - this comes at a cost in the form of speed

## Pandas Series (III/V)
*How do we set custom index?* 

Indices need not have a sequential structure. To see this, consider the following example

In [3]:
num_data = range(0,3) # Generate data
indices = ['B', 'C', 'A'] # Generate index names

Now, combine to a series:

In [4]:
my_series2 = pd.Series(data=num_data, index=indices) # Create a pandas series from the two
my_series2

B    0
C    1
A    2
dtype: int64

## Pandas Series (IV/V)
*What data structure does the pandas series remind us of?*

A mix of Python list and dictionary. Consider the following simple transformation:

In [5]:
my_series.to_dict()

{0: 1, 1: 1.2, 2: 'abc', 3: True}

*Can we also convert a dictionary to a series?*

Yes, we just put into the Series class constructor. Example:

In [6]:
d = {'yesterday': 0, 'today': 1, 'tomorrow':3} # Create some dictionary
my_series3 = pd.Series(d) # Use the constructor
my_series3

yesterday    0
today        1
tomorrow     3
dtype: int64

## Pandas Series (V/V)
*How is the series different from a dict?*

An important distinction: Series indices are NOT unique! Example:

In [7]:
s = pd.Series(range(3), index=['A','A', 'A']) # Create series with same indices
print(s.index.duplicated()) # Check duplicates
print()
print(s.to_dict()) # So translating to a dict gives...

[False  True  True]

{'A': 2}

Series are both key and index  based (i.e. sequential).
- Remember that unlike, say, lists, dictionaries are not sequential!

## Pandas Data Frames (I/IV)

*OK, so now we know what a series is. What is a `DataFrame` then?*

- A 2d-array (matrix) with labelled columns and rows (which are called indices). Example:

In [8]:
df = pd.DataFrame(data=[[1,2],[3,4]],
                  columns=['A', 'B'])
df

   A  B
0  1  2
1  3  4

## Pandas Data Frames (II/IV)

*How can we really think about this*

There are at least two simple ways of seeing the pandas DataFrae:
1. A numpy arrays with some additional stuff.
2. A set of series that have been merged horizontally
    - Note that columns can have different datatypes!

Most functions from `numpy` can be applied directly to Pandas. We can convert a DataFrame to a `numpy` array with `values` attribute.

In [9]:
df.values

array([[1, 2],
       [3, 4]], dtype=int64)

*To note*: In Python we can describe it as a *list of lists* or sometimes a *dict of dicts*.

In [10]:
df.values.tolist()

[[1, 2], [3, 4]]

## Pandas Data Frames (III/IV)

*How can larger pandas dataframes be built?*

Similar to Series, DataFrames can be built from dictionaries.

An important difference: When it comes to creating distinct columns, DataFrames require that each value in the dictionary is also a dictionary. Example:

In [11]:
djan = {'1st': 0, '2nd': 1, '3rd':3} # Create some dictionary for january
dfeb = {'1st': -3, '2nd': -1, '3rd':-2} # Create some dictionary for february
dmar = {'1st': 3, '2nd': 5, '3rd':4} # Create some dictionary for march

d = {'january': djan, 'february': dfeb, 'march': dmar} # Create dictionary of dictionaries
my_df1 = pd.DataFrame(d) # Use the constructor
my_df1

     january  february  march
1st        0        -3      3
2nd        1        -1      5
3rd        3        -2      4

## Pandas Data Frames (IV/IV)

*What happens if keys are not the same?*

No big deal...

In [12]:
djan = {'1st': 0, '2nd': 1, '3rd':3} # Create some dictionary for january
dfeb = {'1st': -3, '2nd': -1, '3rd':-2} # Create some dictionary for february
dmar = {'1st': 3, '2nd': 5, '4th':4} # Create some dictionary for march

d = {'january': djan, 'february': dfeb, 'march': dmar} # Create dictionary of dictionaries
my_df2 = pd.DataFrame(d) # Use the constructor
my_df2

     january  february  march
1st      0.0      -3.0    3.0
2nd      1.0      -1.0    5.0
3rd      3.0      -2.0    NaN
4th      NaN       NaN    4.0

## Series vs DataFrames (I/II)
*How are Series related to DataFrames?*

Putting it simple: Every column is a series. Example, access as key (recommended):

In [13]:
print(df['B'])

0    2
1    4
Name: B, dtype: int64

Another option is access as object method... smart, but dangerous! Sometimes it works...

In [14]:
print(df.B)

0    2
1    4
Name: B, dtype: int64

But sometimes it doesn't... To illustrate, add one more column

In [15]:
df['count'] =  5
print(df)

   A  B  count
0  1  2      5
1  3  4      5

## Series vs DataFrames (II/II)
*But when wouldn't this work?*

To illustrate, add one more column:

In [16]:
df['count'] =  5
print(df)

   A  B  count
0  1  2      5
1  3  4      5

Now print this and see!

In [17]:
print(df.count)

<bound method DataFrame.count of    A  B  count
0  1  2      5
1  3  4      5>


Clearly, the key-based option more robust as variables named same as methods, e.g. `count`, cannot be accesed.

## Converting Data Types

The data type of a series can be converted with the **astype** method. Some examples:

In [18]:
print(my_series3)
print()
print(my_series3.astype(np.float))
print()
print(my_series3.astype(np.str))

yesterday    0
today        1
tomorrow     3
dtype: int64

yesterday    0.0
today        1.0
tomorrow     3.0
dtype: float64

yesterday    0
today        1
tomorrow     3
dtype: object

## Indices and Column Names
*Why don't we just use numpy arrays and matrices?*

- Inspection of data is quicker
    - What was it that column 18 represented?

- Keep track of rows after deletion
    - Again.... What was it that column 18 represented!?

- Indices may contain fundamentally different data structures 
    - e.g. time series (more about this later)
    - Other datatypes (spatial data $\rightarrow$ advanced course)

- Facilitates complex operation (next session):
    - Merging datasets
    - Split-apply-combine (operations on subsets of data)
    - Method chaining (multiple operations in sequence)

## Viewing Series and Dataframes
*How can we view the contents in our dataset?*
- We can use `print` on our dataset
- We can visualize patterns by plotting

## The Head and Tail
*But what if we have a large data set with many rows?*

Let's load the 'titanic' data set that comes with the *seaborn* library:

In [19]:
import seaborn as sns
titanic = sns.load_dataset('titanic')

We now select the *first* 3 rows in a the with the `head` method.

In [20]:
titanic.head(3)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True

The `tail` method selects the last observations in a DataFrame.

## Row Selection (I/III)
*How can we select certain rows in a Series when for given index **keys**?*

WIth the `loc` attribute. Example:

In [21]:
print(titanic.loc[range(3),['survived', 'age', 'sex']])

   survived   age     sex
0         0  22.0    male
1         1  38.0  female
2         1  26.0  female

## Row selection (II/III)
*How can we select certain rows in a Series for given index **integers**?*

The `iloc` method selects rows for provided index integers.

In [22]:
print(titanic.iloc[10:15,:5])

    survived  pclass     sex   age  sibsp
10         1       3  female   4.0      1
11         1       1  female  58.0      0
12         0       3    male  20.0      0
13         0       3    male  39.0      1
14         0       3  female  14.0      0

Clearly, this is very similar to working with matrices in numpy!

## Row selection (III/III)
*Do our tools for vieving specific rows, i.e. `loc`, `iloc` work for DataFrames?*

- Yes, we can use both `loc` and `iloc`. As default they work the same.

In [23]:
my_idx = ['i', 'ii', 'iii']
my_cols = ['a','b']

my_data = np.arange(1,7) #my_data = [[1, 2], [3, 4], [5, 6]]
my_data = my_data.reshape(3,2)

my_df = pd.DataFrame(my_data, columns=my_cols, index=my_idx)

print(my_df)
print()
print(my_df.loc[['i','ii']])
print()
print(my_df.iloc[:2])

     a  b
i    1  2
ii   3  4
iii  5  6

    a  b
i   1  2
ii  3  4

    a  b
i   1  2
ii  3  4

## Columns Selection (I/II)
*How are `loc`, `iloc` different for DataFrames?*

- For DataFrames, we can also specify columns.

In [24]:
idx_keep = ['i','ii']
cols_keep = ['a']
print(my_df.loc[idx_keep, cols_keep])

    a
i   1
ii  3

## Columns Selection (II/II)
*How can we generally select columns in a DataFrame?*

- Option 1: using the `[]` and providing a list of columns.
- Option 2: using `loc` and setting row selection as `:`.

In [25]:
print(my_df.loc[:,['b']])

     b
i    2
ii   4
iii  6

## Selection quiz
*What does `:` do in `iloc` or `loc`?*

Select all rows (columns).

## Modifying DataFrames
*Why do we want to modify DataFrames?*

- Because data rarely comes in the form we want it.

## Changing the Index (I/III)
*How can we change the index of a DataFrame?*

We change or set a DataFrame's index using its method `set_index`. Example:

In [26]:
print(my_df.set_index('a'))
print()
print(my_df)

   b
a
1  2
3  4
5  6

     a  b
i    1  2
ii   3  4
iii  5  6

Clearly, doing so, we also implicitly delete the previous index.

Also, notice the level shift in *b* due to this.

## Changing the Index (II/III)
*Is our DataFrame changed? I.e. does it have a new index?*

No, we must overwrite it or make it into a new object:

In [27]:
print(my_df)
my_df_a = my_df.set_index('a')
print()
print(my_df_a)
print()
print(my_df_a.iloc[1,0])

     a  b
i    1  2
ii   3  4
iii  5  6

   b
a
1  2
3  4
5  6

4

## Changing the index (III/III)

Sometimes we wish to remove the index. This is done with the `reset_index` method:

In [28]:
print(my_df_a.reset_index()) # drop=True
print()
print(my_df_a.reset_index(drop=True)) # drop=True
print()
print(my_df)

   a  b
0  1  2
1  3  4
2  5  6

   b
0  2
1  4
2  6

     a  b
i    1  2
ii   3  4
iii  5  6

The old indices cannot be restored (that information was lost), but the interim index is by default made into a new variable.

By specifying the keyword `drop`=True we delete this index.

*To note:* Indices can have multiple levels, in this case `level` can be specified to delete a specific level.

## Changing the Column Names

Column names can simply be changed with `columns`:

In [29]:
print(my_df)
my_df.columns = ['A', 'B']
print()
print(my_df)

     a  b
i    1  2
ii   3  4
iii  5  6

     A  B
i    1  2
ii   3  4
iii  5  6

DataFrame's also have the function called `rename`.

In [30]:
my_df.rename(columns={'A': 'Aa'}, inplace=True)
print(my_df)

     Aa  B
i     1  2
ii    3  4
iii   5  6

## Changing all Column Values
*How can we can update values in a DataFrame?*

In [31]:
print(my_df)

# # set uniform value
my_df['B'] = 3
print()
print(my_df)

# set different values
my_df['B'] = [2,17,0] 
print()
print(my_df)

     Aa  B
i     1  2
ii    3  4
iii   5  6

     Aa  B
i     1  3
ii    3  3
iii   5  3

     Aa   B
i     1   2
ii    3  17
iii   5   0

## Changing Specific Column Values
*How can we can update values in a DataFrame?*

In [32]:
print(my_df)

# loc, iloc
my_loc2 = ['i', 'iii']
my_df.loc[my_loc2, 'Aa'] = 10

print()
print(my_df)

     Aa   B
i     1   2
ii    3  17
iii   5   0

     Aa   B
i    10   2
ii    3  17
iii  10   0

## Sorting Data

A DataFrame can be sorted with `sort_values`; this method takes one or more columns to sort by.

In [33]:
print(my_df.sort_values(by='Aa', ascending=True))

     Aa   B
ii    3  17
i    10   2
iii  10   0

Many key word arguments are possible for sort_values, including ascending if for one or more valuable we want descending values.

In addition, sorting by index is also possible with `sort_index`.

In [34]:
print(my_df.sort_index())

     Aa   B
i    10   2
ii    3  17
iii  10   0

# VIDEO 2: Boolean Data

## Logical Expression for Series (I/II)
*Can we test an expression for all elements?*

Yes: **==**, **!=** work for a single object or Series with same indices. Example:

In [35]:
print(my_series3)
print()
print(my_series3 == 0)

yesterday    0
today        1
tomorrow     3
dtype: int64

yesterday     True
today        False
tomorrow     False
dtype: bool

What datatype is returned?

## Logical Expression in Series  (II/II)
*Can we check if elements in a series equal some element in a container?*

Yes, the `isin` method. Example:

In [36]:
my_rng = list(range(2))

print(my_rng)
print()
print(my_series3.isin(my_rng))

[0, 1]

yesterday     True
today         True
tomorrow     False
dtype: bool

## Power of Boolean Series (I/II)
*Can we combine boolean Series?*

Yes, we can use:
- the `&` operator (*and*)
- the `|` operator (*or*)

In [37]:
print(((titanic.sex == 'female') & (titanic.age >= 30)).head(3)) # selection by multiple columns

0    False
1     True
2    False
dtype: bool

What datatype was returned?

## Power of Boolean Series (II/II)
*Why do we care for boolean series (and arrays)?*

Mainly because we can use them to select rows based on their content.

In [38]:
print(my_series3)
print()
print(my_series3[my_series3<3])

yesterday    0
today        1
tomorrow     3
dtype: int64

yesterday    0
today        1
dtype: int64

NOTE: Boolean selection is extremely useful for dataframes!!

# VIDEO 3: Numeric Operations and Methods

## Numeric Operations (I/III)
*How can we make basic arithmetic operations with arrays, series and dataframes?*

It really works just like with Python data, e.g. lists. An example with squaring:

In [39]:
num_ser1 = pd.Series([2,3,2,1,1])
num_ser2 = num_ser1 ** 2

print(num_ser1)
print(num_ser2)

0    2
1    3
2    2
3    1
4    1
dtype: int64
0    4
1    9
2    4
3    1
4    1
dtype: int64

## Numeric Operations (II/III)
*Are other numeric python operators the same??*

Numeric operators work `/`, `//`, `-`, `*`, `**`  as expected.

So does comparative (`==`, `!=`, `>`, `<`)

*Why is this useful?*

- vectorized operations are VERY fast;
- requires very little code.

## Numeric  Operations (III/III)
*Can we also do this with vectors of data?*

Yes, we can also do elementwise addition, multiplication, subtractions etc. of series. Example:

In [40]:
num_ser1 + num_ser2

0     6
1    12
2     6
3     2
4     2
dtype: int64

## Numeric methods (I/IV)

*OK, these were some quite simple operations with pandas series. Are there other numeric methods?*

Yes, pandas series and dataframes have other powerful numeric methods built-in. 

Consider an example series of 10 million randomly generated observations:

Yes, pandas series and dataframes have other powerful numeric methods built-in. Consider an example series of 10 million randomly generated observations:

In [41]:
arr_rand = np.random.randn(10**7) # Draw 10^7 observations from standard normal , arr_rand = np.random.normal(size = 10**7)
s2 = pd.Series(arr_rand) # Convert to pandas series
s2

0         -0.114982
1         -0.142769
2         -0.252456
3         -0.045497
4          0.132941
             ...
9999995    0.663020
9999996   -0.755392
9999997    0.157724
9999998    0.611881
9999999   -0.778720
Length: 10000000, dtype: float64

Now, display the median of this distribution:

In [42]:
s2.median() # Display median

0.00016248044579439104

Other useful methods include: `mean`, `quantile`, `min`, `max`, `std`, `describe`, `quantile` and many more.

In [43]:
np.round(s2.describe(),2) # Display other characteristics of distribution (rounded)

count    10000000.00
mean            0.00
std             1.00
min            -5.26
25%            -0.67
50%             0.00
75%             0.67
max             5.55
dtype: float64

## Numeric methods (II/III)
An important method is `value_counts`. This counts number for each observation.

Example:

In [44]:
cuts = np.arange(-7, 8, 1) # range from -10 to 10 with intervals of unit size
cats = pd.cut(s2, cuts) # cut into categorical data

In [45]:
cats.unique()

[(-1, 0], (0, 1], (-2, -1], (-3, -2], (1, 2], ..., (-4, -3], (4, 5], (-5, -4], (5, 6], (-6, -5]]
Length: 12
Categories (12, interval[int64]): [(-6, -5] < (-5, -4] < (-4, -3] < (-3, -2] ... (2, 3] < (3, 4] < (4, 5] < (5, 6]]

In [46]:
cats.value_counts()

(0, 1]      3413583
(-1, 0]     3413419
(1, 2]      1359455
(-2, -1]    1358695
(2, 3]       214039
(-3, -2]     213627
(-4, -3]      13274
(3, 4]        13256
(-5, -4]        330
(4, 5]          315
(5, 6]            4
(-6, -5]          3
(6, 7]            0
(-7, -6]          0
dtype: int64

What is observation in the value_counts output - index or data?

## Numeric methods (III/III)
*Are there other powerful numeric methods?*

Yes: examples include 
- `unique`, `nunique`: the unique elements and the count of unique elements
- `cut`, `qcut`: partition series into bins 
- `diff`: difference every two consecutive observations
- `cumsum`: cumulative sum
- `nlargest`, `nsmallest`: the n largest elements 
- `idxmin`, `idxmax`: index which is minimal/maximal 
- `corr`: correlation matrix

Check [series documentation](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.html) for more information.

# VIDEO 4: String Operations

## String Operations (I/III)
*Do the numeric python operators also apply to strings?*

In some cases yes, and this can be done very elegantly! Consider the following example with a series:

In [47]:
names_ser1 = pd.Series(['Andreas', 'Joachim', 'Nicklas', 'Terne'])
names_ser1

0    Andreas
1    Joachim
2    Nicklas
3      Terne
dtype: object

Now add another string:

In [48]:
names_ser1 + ' works @ SAMF'

0    Andreas works @ SAMF
1    Joachim works @ SAMF
2    Nicklas works @ SAMF
3      Terne works @ SAMF
dtype: object

## String Operations (II/III)
*Can two vectors of strings also be combined like as with numeric vectors?*

Fortunately, yes:

In [49]:
names_ser2 = pd.Series(['ethics', 'python and ML', 'scraping', 'text as data'])
names_ser1 + ' teaches ' + names_ser2

0           Andreas teaches ethics
1    Joachim teaches python and ML
2         Nicklas teaches scraping
3       Terne teaches text as data
dtype: object

## String Operations (III/III)
*Any other types of vectorized operations with strings?*

Many. In particular, there is a large set of string-specific operation (see `.str`-notation below). Some examples (see table 7-5 in PDA for more):

In [50]:
names_ser1.str.upper() # works similarly with lower()

0    ANDREAS
1    JOACHIM
2    NICKLAS
3      TERNE
dtype: object

In [51]:
names_ser1.str.contains('as')

0     True
1    False
2     True
3    False
dtype: bool

In [52]:
names_ser1.str[1:3] # We can even do vectorized slicing of strings!

0    nd
1    oa
2    ic
3    er
dtype: object

# VIDEO 5: Categorical Data

## The Categorical Data Type
*Are string (or object) columns attractive to work with?*

In [53]:
pd.Series(['Pandas', 'series'])

0    Pandas
1    series
dtype: object

Now, sometimes the categorical data type is better:
- Use categorical data when many characters are repeated
    - Less storage and faster computations
- You can put some order (structure) on your string data
- It also allows new features:
    - Plots have bars, violins etc. sorted according to category order

## Example of Categorical Data

Conversion to categorical data:

In [54]:
edu_list = ['BSc Political Science', 'Secondary School'] + ['High School']*2
edu_cats = ['Secondary School', 'High School', 'BSc Political Science']

str_ser = pd.Series(edu_list*10**5)

Option 1: No order

In [55]:
cat_ser = str_ser.astype('category')
cat_ser[:5]

0    BSc Political Science
1         Secondary School
2              High School
3              High School
4    BSc Political Science
dtype: category
Categories (3, object): ['BSc Political Science', 'High School', 'Secondary School']

Option 2: Order

In [56]:
cats = pd.Categorical(str_ser, categories=edu_cats, ordered=True)
cat_ser2 = pd.Series(cats, index=str_ser.index)
cat_ser2[:5]

0    BSc Political Science
1         Secondary School
2              High School
3              High School
4    BSc Political Science
dtype: category
Categories (3, object): ['Secondary School' < 'High School' < 'BSc Political Science']

## Numbers as Categories

It is natural to think of measures in categories, e.g. small and large.

*Can we convert our numerical data to bins in a smart way?*

Yes, there are two methods that are useful (and you just applied one of them earlier in this session!):
- `cut` which divides data by user specified bins
- `qcut` which divides data by user specified quantiles
    - E.g. median, $q=0.5$; lower quartile threshold, $q=0.25$; etc.

In [57]:
x = pd.Series(np.random.normal(size = 10**6))
cat_ser3 = pd.qcut(x, q = [0,0.025, 0.975, 1])
cat_ser3.cat.categories

IntervalIndex([(-5.07, -1.964], (-1.964, 1.957], (1.957, 5.01]],
              closed='right',
              dtype='interval[float64]')

In [58]:
cat_ser3.cat.codes.head(5)

0    1
1    1
2    1
3    1
4    1
dtype: int8

## Converting to Numeric and Binary

For regression, we often want our string / categorical variable as dummy variables:
- That is, all categories have their own binary column (0 and 1)
    - Note: We may leave one 'reference' category out here (intro statistics)
- Rest as numeric

*How can we do this?*

Insert dataframe, `df`, into the function as `pd.get_dummies(df)`

In [59]:
pd.get_dummies(cat_ser3).head(5)

   (-5.07, -1.964]  (-1.964, 1.957]  (1.957, 5.01]
0                0                1              0
1                0                1              0
2                0                1              0
3                0                1              0
4                0                1              0

# VIDEO 6: Time Series Data

## Temporal Data Type

*Why is time so fundamental?*

Every measurement made by a human was made at some point in time - therefore, it has a "timestamp"!

## Formats for Time

*How are time stamps measured?*

1. **Datetime** (ISO 8601): Standard calendar
    - year, month, day (minute, second, milisecond); timezone
    - can come as string in raw data
2. **Epoch time**: Seconds since January 1, 1970 - 00:00, GMT (Greenwich time zone)
    - nanoseconds in pandas

## Time Data in Pandas

*Does Pandas store it in a smart way?*

Pandas and numpy have native support for temporal data combining datetime and epoch time.

In [60]:
str_ser2 = pd.Series(['20170101', '20170727', '20170803', '20171224'])
dt_ser = pd.to_datetime(str_ser2)
dt_ser

0   2017-01-01
1   2017-07-27
2   2017-08-03
3   2017-12-24
dtype: datetime64[ns]

## Example of Passing Temporal Data

*How does the input type matter for how time data is passed?*

A lot! As we will see, `to_datetime()` may assume either *datetime* or *epoch time* format:

In [61]:
pd.to_datetime(str_ser2)

0   2017-01-01
1   2017-07-27
2   2017-08-03
3   2017-12-24
dtype: datetime64[ns]

In [62]:
pd.to_datetime(str_ser2.astype(int))

0   1970-01-01 00:00:00.020170101
1   1970-01-01 00:00:00.020170727
2   1970-01-01 00:00:00.020170803
3   1970-01-01 00:00:00.020171224
dtype: datetime64[ns]

## Time Series Data

*Why are temporal data powerful?*

We can easily make and plot time series. Example of 20 years of Apple stock prices:
- Tip: Install in terminal using: *conda install pandas-datareader*

In [63]:
from pandas_datareader import data
aapl = data.DataReader('AAPL', data_source='yahoo', start='2000')['Adj Close']
aapl.plot(figsize = (12,4), logy = True)

RemoteDataError: Unable to read URL: https://finance.yahoo.com/quote/AAPL/history?period1=946695600&period2=1625277599&interval=1d&frequency=1d&filter=history
Response Text:
b'<!DOCTYPE html>\n  <html lang="en-us"><head>\n  <meta http-equiv="content-type" content="text/html; charset=UTF-8">\n      <meta charset="utf-8">\n      <title>Yahoo</title>\n      <meta name="viewport" content="width=device-width,initial-scale=1,minimal-ui">\n      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">\n      <style>\n  html {\n      height: 100%;\n  }\n  body {\n      background: #fafafc url(https://s.yimg.com/nn/img/sad-panda-201402200631.png) 50% 50%;\n      background-size: cover;\n      height: 100%;\n      text-align: center;\n      font: 300 18px "helvetica neue", helvetica, verdana, tahoma, arial, sans-serif;\n  }\n  table {\n      height: 100%;\n      width: 100%;\n      table-layout: fixed;\n      border-collapse: collapse;\n      border-spacing: 0;\n      border: none;\n  }\n  h1 {\n      font-size: 42px;\n      font-weight: 400;\n      color: #400090;\n  }\n  p {\n      color: #1A1A1A;\n  }\n  #message-1 {\n      font-weight: bold;\n      margin: 0;\n  }\n  #message-2 {\n      display: inline-block;\n      *display: inline;\n      zoom: 1;\n      max-width: 17em;\n      _width: 17em;\n  }\n      </style>\n  <script>\n    document.write(\'<img src="//geo.yahoo.com/b?s=1197757129&t=\'+new Date().getTime()+\'&src=aws&err_url=\'+encodeURIComponent(document.URL)+\'&err=%<pssc>&test=\'+encodeURIComponent(\'%<{Bucket}cqh[:200]>\')+\'" width="0px" height="0px"/>\');var beacon = new Image();beacon.src="//bcn.fp.yahoo.com/p?s=1197757129&t="+new Date().getTime()+"&src=aws&err_url="+encodeURIComponent(document.URL)+"&err=%<pssc>&test="+encodeURIComponent(\'%<{Bucket}cqh[:200]>\');\n  </script>\n  </head>\n  <body>\n  <!-- status code : 404 -->\n  <!-- Not Found on Server -->\n  <table>\n  <tbody><tr>\n      <td>\n      <img src="https://s.yimg.com/rz/p/yahoo_frontpage_en-US_s_f_p_205x58_frontpage.png" alt="Yahoo Logo">\n      <h1 style="margin-top:20px;">Will be right back...</h1>\n      <p id="message-1">Thank you for your patience.</p>\n      <p id="message-2">Our engineers are working quickly to resolve the issue.</p>\n      </td>\n  </tr>\n  </tbody></table>\n  </body></html>'

## Time Series Components

*What is within the `appl` series? What is a time series*

In [64]:
aapl.head(5)

NameError: name 'aapl' is not defined

In [65]:
aapl.head(5).index

NameError: name 'aapl' is not defined

So in essence, time series in pandas are often just series of data with a time index.

## Pandas and Time Series

*Why is pandas good at handling and processing time series data?*

It has specific tools for resampling and interpolating data:
- See 11.3, 11.5 and 11.6 in PDA textbook

It handles irregular data well:
- missing values
- duplicate entries (`fillna(method='ffill')` or `data.fillna(data.mean())`)

## Datetime in Pandas

*What other uses might time data have?*

We can extract data from datetime columns. These columns have the `dt` and its sub-methods. Example:

In [66]:
dt_ser2 = pd.Series(aapl.index)
dt_ser2.dt.month #also year, weekday, hour, second

NameError: name 'aapl' is not defined

Many other useful features (e.g. aggregation over time into means, medians, etc.)

## Datetime in Pandas

*What other uses might time data have?*

We can extract data from datetime columns. These columns have the `dt` and its sub-methods. Example:

# VIDEO 7: Missing Data

## Representation of Missing Data
*How can we think about missing data?*

Missing data, i.e. empty observations:
- In Python: `None`
- In pandas: numpy's 'not a number' abbreviated with `NaN` or simply `nan`

## Missing Data in Pandas
*What does a DataFrame with missing data look like*

In [67]:
nan_data = [[0,np.nan,1],\
            [2,3,None],\
            [4,5,6]]

nan_df = pd.DataFrame(nan_data, columns = ['A', 'B', 'C'])
nan_df

   A    B    C
0  0  NaN  1.0
1  2  3.0  NaN
2  4  5.0  6.0

In [68]:
nan_df.isnull()

       A      B      C
0  False   True  False
1  False  False   True
2  False  False  False

## Creating Missings

*Would we ever want to create missings?*

In the ideal world, no. In practice, yes:
- Sometimes, missings are coded to a numerical value.
- These can be very influential in your data analysis if not uncoverred.

Example:

In [69]:
nan_data2 = [[0,999999,1],\
            [2,3,999999],\
            [4,5,6]]

pd.DataFrame(nan_data2, columns = ['A', 'B', 'C'])

   A       B       C
0  0  999999       1
1  2       3  999999
2  4       5       6

The solutions is simple:

In [70]:
pd.DataFrame(nan_data2, columns = ['A', 'B', 'C']).replace(999999,np.NaN)

   A    B    C
0  0  NaN  1.0
1  2  3.0  NaN
2  4  5.0  6.0

## Replacing Missings
*Are there ways to replace missings with values with pandas?*

As mentioned earlier, pandas does handle missings directly. See table 7-2 in PDA. Examples:

In [71]:
nan_df.fillna(method='bfill') # can also use 'ffill'

   A    B    C
0  0  3.0  1.0
1  2  3.0  6.0
2  4  5.0  6.0

In [72]:
nan_df.fillna(nan_df.mean())

   A    B    C
0  0  4.0  1.0
1  2  3.0  3.5
2  4  5.0  6.0

*Note:* You want to be careful with this!

# VIDEO 8: Duplicated Data

## Duplicates: A Definition
*What does it mean that there are duplicates in the data?*

Slightly tricky to define:
- More than one entry where there should in fact be only one.
- If for a certain set of variables, a combination is repeated.

In practice, it requires some understanding of your data:
- Two observations are identical: Is this a duplicate, or is it truly because 'occurance happened twice'?
- In income registries from DK: One individual should not show up more than once in the data.

## Handling Duplicates
*How do we drop duplicates?*

Let's revisit our categorical education data:

In [73]:
str_ser.head(5)

0    BSc Political Science
1         Secondary School
2              High School
3              High School
4    BSc Political Science
dtype: object

Now, let's see what is duplicated:

In [74]:
str_ser.duplicated().head(5) # can also specify: ", keep='last'"

0    False
1    False
2    False
3     True
4     True
dtype: bool

And finally, drop them:

In [75]:
str_ser.drop_duplicates()

0    BSc Political Science
1         Secondary School
2              High School
dtype: object

# VIDEO 9: Joining DataFrames

## Recap

*Which datatypes beyond numeric/boolean does pandas handle natively?*

- datetime, string, categorical, (missing)
- extensions, e.g. to spatial data with geopandas

*What can we do to missing values and duplicates?*

- missing: ignore, delete, replace (impute), collect new data
- duplicated: check whether they are present, remove, select

For the following, we use the multi column display from Jake van der Plaas, [here](https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html)

In [76]:
class display(object):
    """Display HTML representation of multiple objects"""
    template = """<div style="float: left; padding: 10px;">
    <p style='font-family:"Courier New", Courier, monospace'>{0}</p>{1}
    </div>"""
    def __init__(self, *args):
        self.args = args
        
    def _repr_html_(self):
        return '\n'.join(self.template.format(a, eval(a)._repr_html_())
                         for a in self.args)
    
    def __repr__(self):
        return '\n\n'.join(a + '\n' + repr(eval(a))
                           for a in self.args)

# Joining DataFrames

Until now we've worked with one DataFrame at a time
- with the exception of `concat` in Assignment 0

We will now learn to put them together.

### Some DataFrames
Let's make some data to play with. Here, use `dict` approach:

In [77]:
left = pd.DataFrame({'key': ['A', 'B', 'C', 'D'], 'value_left': range(4)})    
right = pd.DataFrame({'key': ['C', 'D', 'E', 'F'], 'value_right': range(4,8)})
display('left', 'right')

left
  key  value_left
0   A           0
1   B           1
2   C           2
3   D           3

right
  key  value_right
0   C            4
1   D            5
2   E            6
3   F            7

## Merging data
The forthcoming figures all follow this convention:

-  <font color="blue">blue</font>: rows in merge output
-  <font color="red">red</font>: rows excluded from output (i.e., removed)
-  <font color="green">green</font>: missing values replaced with NaNs 

We use `merge` which is pandas function and a method for dataframes.

### Inner merge (default)
This merge only uses only *shared* keys

In [78]:
inner_merge = pd.merge(left, right, on='key', how='inner')
inner_merge

  key  value_left  value_right
0   C           2            4
1   D           3            5

<center><img src='https://i.stack.imgur.com/YvuOa.png' alt="Drawing" style="width: 600px;"/></center>

### Left merge
This merge uses only *left* keys

In [79]:
left_merge = pd.merge(left, right, on='key', how='left')
left_merge

  key  value_left  value_right
0   A           0          NaN
1   B           1          NaN
2   C           2          4.0
3   D           3          5.0

<center><img src='https://i.stack.imgur.com/BECid.png' alt="Drawing" style="width: 600px;"/></center>

## Loading Stuff

In [80]:
import numpy as np
import pandas as pd
import seaborn as sns

tips = sns.load_dataset('tips')
titanic = sns.load_dataset('titanic')

### Right merge
This merge uses only *right* keys (pretty redundant...)

In [81]:
right_merge = pd.merge(left, right, on='key', how='right')
right_merge

  key  value_left  value_right
0   C         2.0            4
1   D         3.0            5
2   E         NaN            6
3   F         NaN            7

<center><img src='https://i.stack.imgur.com/8w1US.png' alt="Drawing" style="width: 600px;"/></center>

### Outer merge
This merge uses *all* keys

In [82]:
outer_merge = pd.merge(left, right, on='key', how='outer')
outer_merge

  key  value_left  value_right
0   A         0.0          NaN
1   B         1.0          NaN
2   C         2.0          4.0
3   D         3.0          5.0
4   E         NaN          6.0
5   F         NaN          7.0

<center><img src='https://i.stack.imgur.com/euLoe.png' alt="Drawing" style="width: 600px;"/></center>

### Overview of merge types

<center><img src='https://www.dofactory.com/Images/sql/sql-joins.png' alt="Drawing" style="width: 450px;"/></center>

More merge type exists, see [this post](https://stackoverflow.com/questions/53645882/pandas-merging-101) for details.

## Joining DataFrames

We can also join by keys in the index. This is possible with `join` or `concat`:
- both methods work vertically and horizontally.
- `concat` works with  multiple DataFrames at once;

Requirement: overlapping index keys or column names.

In [83]:
df0 = left.set_index('key')
df1 = right.set_index('key')

### Horizontal join 

Works like `merge` where keys is now the index!

In [84]:
inner_data = df0.join(df1, how='inner')
inner_data

     value_left  value_right
key
C             2            4
D             3            5

### Vertical Join, Axis = 1

`concat` on axis=1 acts similar to a outer join.

In [85]:
dfs = [df0, df1]
print(dfs)
print()
print(pd.concat(dfs, axis=1, sort=False))

[     value_left
key
A             0
B             1
C             2
D             3,      value_right
key
C              4
D              5
E              6
F              7]

   value_left  value_right
A         0.0          NaN
B         1.0          NaN
C         2.0          4.0
D         3.0          5.0
E         NaN          6.0
F         NaN          7.0

### Vertical Join, Axis = 0

On the other hand, `concat` on axis=0 stacks the dataframes on top of each other!

In [86]:
print(pd.concat([df0, df1], join='outer', axis=0, sort=False))

     value_left  value_right
key
A           0.0          NaN
B           1.0          NaN
C           2.0          NaN
D           3.0          NaN
C           NaN          4.0
D           NaN          5.0
E           NaN          6.0
F           NaN          7.0

### Vertical and Horizontal

An overview of `concat`/`join` operations (left: horizontal, right: vertical)

<center><img src='https://i.stack.imgur.com/1rb1R.jpg' alt="Drawing" style="width: 750px;"/></center>

### Example of Using Concat (I/III)

Let's load some stock data...

In [87]:
# In anaconda prompt: "pip install pandas-datareader"

from pandas_datareader import data
import matplotlib.pyplot as plt # For plotting

stocks = ['aapl', 'goog', 'msft', 'amzn', 'fb', 'tsla']

def load_stock(s):
    return data.DataReader(s, data_source='yahoo', start='2000')['Adj Close']

stock_dfs = {s:load_stock(s) for s in stocks} # dictionary of all stock price
stock_df = pd.concat(stock_dfs, axis=1) # horizontal join

RemoteDataError: Unable to read URL: https://finance.yahoo.com/quote/aapl/history?period1=946695600&period2=1625277599&interval=1d&frequency=1d&filter=history
Response Text:
b'<!DOCTYPE html>\n  <html lang="en-us"><head>\n  <meta http-equiv="content-type" content="text/html; charset=UTF-8">\n      <meta charset="utf-8">\n      <title>Yahoo</title>\n      <meta name="viewport" content="width=device-width,initial-scale=1,minimal-ui">\n      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">\n      <style>\n  html {\n      height: 100%;\n  }\n  body {\n      background: #fafafc url(https://s.yimg.com/nn/img/sad-panda-201402200631.png) 50% 50%;\n      background-size: cover;\n      height: 100%;\n      text-align: center;\n      font: 300 18px "helvetica neue", helvetica, verdana, tahoma, arial, sans-serif;\n  }\n  table {\n      height: 100%;\n      width: 100%;\n      table-layout: fixed;\n      border-collapse: collapse;\n      border-spacing: 0;\n      border: none;\n  }\n  h1 {\n      font-size: 42px;\n      font-weight: 400;\n      color: #400090;\n  }\n  p {\n      color: #1A1A1A;\n  }\n  #message-1 {\n      font-weight: bold;\n      margin: 0;\n  }\n  #message-2 {\n      display: inline-block;\n      *display: inline;\n      zoom: 1;\n      max-width: 17em;\n      _width: 17em;\n  }\n      </style>\n  <script>\n    document.write(\'<img src="//geo.yahoo.com/b?s=1197757129&t=\'+new Date().getTime()+\'&src=aws&err_url=\'+encodeURIComponent(document.URL)+\'&err=%<pssc>&test=\'+encodeURIComponent(\'%<{Bucket}cqh[:200]>\')+\'" width="0px" height="0px"/>\');var beacon = new Image();beacon.src="//bcn.fp.yahoo.com/p?s=1197757129&t="+new Date().getTime()+"&src=aws&err_url="+encodeURIComponent(document.URL)+"&err=%<pssc>&test="+encodeURIComponent(\'%<{Bucket}cqh[:200]>\');\n  </script>\n  </head>\n  <body>\n  <!-- status code : 404 -->\n  <!-- Not Found on Server -->\n  <table>\n  <tbody><tr>\n      <td>\n      <img src="https://s.yimg.com/rz/p/yahoo_frontpage_en-US_s_f_p_205x58_frontpage.png" alt="Yahoo Logo">\n      <h1 style="margin-top:20px;">Will be right back...</h1>\n      <p id="message-1">Thank you for your patience.</p>\n      <p id="message-2">Our engineers are working quickly to resolve the issue.</p>\n      </td>\n  </tr>\n  </tbody></table>\n  </body></html>'

### Example of Using Concat (II/III)

What do the data look like?

In [ ]:
stock_df.tail(10)

### Example of Using Concat (III/III)

Now, let's try and visualize it (more about this in next session)!

In [ ]:
ax = stock_df.plot(logy=True, figsize=(10,3))
ax.legend(["Apple", "Google","Microsoft", "Amazon","Facebook", "Tesla"], loc='best', ncol=2)

# Split-apply-combine

## A Definition
*What is the split-apply-combine framework?*

A procedure to...
1. **split** a DataFrame into subsets of data,
2. **apply** certain functions (sorting, mean, other custom stuff), and
3. **combine** it back into a DataFrame

Application example: compute mean personal income.

## The Process $-$ an Overview

How do we *split* observations by x and *apply* the calculation mean of y?*

<center><img src='https://raw.githubusercontent.com/abjer/sds2017/master/slides/figures/split-apply-combine.png'></center>

## Split-apply-combine in Pandas

A powerful tool in DataFrames is the `groupby` method. Example:

In [ ]:
split_var = 'sex' # like x in figure
apply_var = 'total_bill' # like y in figure

tips.groupby(split_var)[apply_var].mean()

## What is groupby?
`groupby` creats a collection of sub-dataframes we can process.

We can iterate over a groupby object. Example:

In [ ]:
results = {}

for group, group_df in tips.groupby('sex'):
      results[group] = group_df.total_bill.mean() 
    
pd.Series(results)

## Other Methods and Functions in groupby

Can other functions be applied?

- Yes: `mean`, `std`, `min`, `max` all work. 
- Using `.apply()` method and inserting your ***homemade*** function works too.

## Additional variables groupby
Does `groupby` work for multiple variables, functions?

In [ ]:
split_vars = ['sex', 'time'] 
apply_vars = ['total_bill', 'tip']
apply_fcts = ['median', 'mean', 'std']
combined = tips.groupby(split_vars)[apply_vars].agg(apply_fcts)

print(combined.reset_index() )

Note grouping with multiple variables uses a [MultiIndex](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.MultiIndex.html) which we do not cover.

## Maintaining the Structure
*How do we get our `groupby` output into the original dataframe?*

- Option 1: you use `transform`.

- Option 2: you merge it (not always recommended)

In [ ]:
mu_sex = tips.groupby(split_vars)[apply_var].transform('mean').rename('tb_mu')
tips_merge = pd.merge(tips, mu_sex, left_index=True, right_index=True, how='inner')

dev_sex = (tips.total_bill - mu_sex).rename('tb_dev')
tips_merge = pd.merge(tips_merge, dev_sex, left_index=True, right_index=True, how='inner')

print(tips_merge.head(5))

# Reshaping Data

## Stacking Data (I/II)

A DataFrame can be collapsed into a Series with the **stack** command.

Let's generate a simple example:

In [ ]:
df = pd.DataFrame([[1,2],[3,4]],columns=['EU','US'],index=[2000,2010])
df

Now, stack the data:

In [ ]:
stacked = df.stack() # going from wide to long format 
stacked

## Stacking Data (II/II)

Clearly, the data now comes with **hierarchical indexing**; first year, then region.

If we want, we can just reset the indexing:

In [ ]:
stacked = stacked.reset_index()
stacked

And then do the renaming...

In [ ]:
stacked.columns = ['year', 'place', 'value']
stacked

## To Wide Format

NoteThe stacked DataFrame is in long/tidy format, the original is wide.

We can easily transform a long DataFrame with `unstack()`

In [ ]:
print(stacked)
print()
print(df.stack().unstack(level=1))
print()
print(df.stack().unstack(level=0))

## More Stuff

Other cool functions include
- `melt` which only stacks certain columns
- `pivot` which makes you to reshape the dataframe like in Excel

# DISCARDED: VIDEO 3: DataFrame IO - Loading and Storing

## Reading DataFrames (I/II)

Download the file from [URL](https://api.statbank.dk/v1/data/FOLK1A/CSV?lang=en&Tid=*). Open directly in Pandas.

In [88]:
url = 'https://api.statbank.dk/v1/data/FOLK1A/CSV?lang=en&Tid=*'
df = pd.read_csv(url, sep=';') # open the file as dataframe
print(df.head(5))

      TID  INDHOLD
0  2008Q1  5475791
1  2008Q2  5482266
2  2008Q3  5489022
3  2008Q4  5505995
4  2009Q1  5511451

Tomorrow we'll learn how to parse time column!

## Reading DataFrames (II/II)

Now let's try opening the file from the [URL](https://api.statbank.dk/v1/data/FOLK1A/CSV?lang=en&Tid=*) as a local file:

In [89]:
abs_path = 'C:/Users/xtw562/Downloads/FOLK1A.csv' # absolute path 
rel_path = 'FOLK1A.csv' # relative path 

df = pd.read_csv(rel_path, sep=';') # open the file as dataframe
print(df.head(2))

      TID  INDHOLD
0  2008Q1  5475791
1  2008Q2  5482266

- absolute path: entire path starting from which disk etc.
- relative paths: from where your program, i.e. Jupyter is

## Reading Other Data Types

Other pandas readers include:  excel, sql, sas, stata and many more.

## Storing Data

Data can be stored in a particular format with to_(FORMAT) where (FORMAT) is the file type such as csv. Let's try with to_csv:

In [90]:
df.to_csv('DST_people_count.csv', index=False)