In [3]:
import numpy as np
import pandas as pd

# VIDEO 1: Missing Data

## Representation of Missing Data
*How can we think about missing data?*

Missing data, i.e. empty observations:
- In Python: `None`
- In pandas: numpy's 'not a number' abbreviated with `NaN` or simply `nan`

## Missing Data in Pandas
*What does a DataFrame with missing data look like*

In [4]:
nan_data = [[0,np.nan,1],\
            [2,3,None],\
            [4,5,6]]

nan_df = pd.DataFrame(nan_data, columns = ['A', 'B', 'C'])
nan_df

   A    B    C
0  0  NaN  1.0
1  2  3.0  NaN
2  4  5.0  6.0

In [5]:
nan_df.isnull()

       A      B      C
0  False   True  False
1  False  False   True
2  False  False  False

## Creating Missings

*Would we ever want to create missings?*

In the ideal world, no. In practice, yes:
- Sometimes, missings are coded to a numerical value.
- These can be very influential in your data analysis if not uncoverred.

Example:

In [6]:
nan_data2 = [[0,999999,1],\
            [2,3,999999],\
            [4,5,6]]

pd.DataFrame(nan_data2, columns = ['A', 'B', 'C'])

   A       B       C
0  0  999999       1
1  2       3  999999
2  4       5       6

The solutions is simple:

In [7]:
pd.DataFrame(nan_data2, columns = ['A', 'B', 'C']).replace(999999,np.NaN)

   A    B    C
0  0  NaN  1.0
1  2  3.0  NaN
2  4  5.0  6.0

## Imputing Missings
*Are there ways to replace missings with values with pandas?*

As mentioned earlier, pandas does handle missings directly. See table 7-2 in PDA. Examples:

In [8]:
nan_df.fillna(method='bfill') # can also use 'ffill'

   A    B    C
0  0  3.0  1.0
1  2  3.0  6.0
2  4  5.0  6.0

In [9]:
nan_df.fillna(nan_df.mean())

   A    B    C
0  0  4.0  1.0
1  2  3.0  3.5
2  4  5.0  6.0

*Note:* You want to be careful with this!

## Dropping Missings
*Are there also ways to simply drop missings with pandas?*

Yes, this is fortunately easy. Use the `.dropna()` feature in pandas:
- Remember to drop along the right axis.

In [11]:
nan_df.dropna(axis=0)

   A    B    C
2  4  5.0  6.0

In [12]:
nan_df.dropna(axis=1)

   A
0  0
1  2
2  4

*Note:* For practical purposes, you risk dropping too many observations here!

# VIDEO 2: Duplicated Data

## Duplicates: A Definition
*What does it mean that there are duplicates in the data?*

Slightly tricky to define:
- More than one entry where there should in fact be only one.
- If for a certain set of variables, a combination is repeated.

In practice, it requires some understanding of your data:
- Two observations are identical: Is this a duplicate, or is it truly because 'occurance happened twice'?
- In income registries from DK: One individual should not show up more than once in the data.

## Handling Duplicates
*How do we drop duplicates?*

Let's revisit our categorical education data:

In [73]:
str_ser.head(5)

0    BSc Political Science
1         Secondary School
2              High School
3              High School
4    BSc Political Science
dtype: object

Now, let's see what is duplicated:

In [74]:
str_ser.duplicated().head(5) # can also specify: ", keep='last'"

0    False
1    False
2    False
3     True
4     True
dtype: bool

And finally, drop them:

In [75]:
str_ser.drop_duplicates()

0    BSc Political Science
1         Secondary School
2              High School
dtype: object

# VIDEO 3: Joining DataFrames

Until now we've worked with one DataFrame at a time
- with the exception of `concat` in Assignment 0

We will now learn to put them together.

For the following, we use the multi column display from Jake van der Plaas, [here](https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html)

In [2]:
class display(object):
    """Display HTML representation of multiple objects"""
    template = """<div style="float: left; padding: 10px;">
    <p style='font-family:"Courier New", Courier, monospace'>{0}</p>{1}
    </div>"""
    def __init__(self, *args):
        self.args = args
        
    def _repr_html_(self):
        return '\n'.join(self.template.format(a, eval(a)._repr_html_())
                         for a in self.args)
    
    def __repr__(self):
        return '\n\n'.join(a + '\n' + repr(eval(a))
                           for a in self.args)

### Some DataFrames
Let's make some data to play with. Here, use `dict` approach:

In [77]:
left = pd.DataFrame({'key': ['A', 'B', 'C', 'D'], 'value_left': range(4)})    
right = pd.DataFrame({'key': ['C', 'D', 'E', 'F'], 'value_right': range(4,8)})
display('left', 'right')

left
  key  value_left
0   A           0
1   B           1
2   C           2
3   D           3

right
  key  value_right
0   C            4
1   D            5
2   E            6
3   F            7

## Merging data
The forthcoming figures all follow this convention:

-  <font color="blue">blue</font>: rows in merge output
-  <font color="red">red</font>: rows excluded from output (i.e., removed)
-  <font color="green">green</font>: missing values replaced with NaNs 

We use `merge` which is pandas function and a method for dataframes.

### Inner merge (default)
This merge only uses only *shared* keys

In [78]:
inner_merge = pd.merge(left, right, on='key', how='inner')
inner_merge

  key  value_left  value_right
0   C           2            4
1   D           3            5

<center><img src='https://i.stack.imgur.com/YvuOa.png' alt="Drawing" style="width: 600px;"/></center>

### Left merge
This merge uses only *left* keys

In [79]:
left_merge = pd.merge(left, right, on='key', how='left')
left_merge

  key  value_left  value_right
0   A           0          NaN
1   B           1          NaN
2   C           2          4.0
3   D           3          5.0

<center><img src='https://i.stack.imgur.com/BECid.png' alt="Drawing" style="width: 600px;"/></center>

## Loading Stuff

In [80]:
import numpy as np
import pandas as pd
import seaborn as sns

tips = sns.load_dataset('tips')
titanic = sns.load_dataset('titanic')

### Right merge
This merge uses only *right* keys (pretty redundant...)

In [81]:
right_merge = pd.merge(left, right, on='key', how='right')
right_merge

  key  value_left  value_right
0   C         2.0            4
1   D         3.0            5
2   E         NaN            6
3   F         NaN            7

<center><img src='https://i.stack.imgur.com/8w1US.png' alt="Drawing" style="width: 600px;"/></center>

### Outer merge
This merge uses *all* keys

In [82]:
outer_merge = pd.merge(left, right, on='key', how='outer')
outer_merge

  key  value_left  value_right
0   A         0.0          NaN
1   B         1.0          NaN
2   C         2.0          4.0
3   D         3.0          5.0
4   E         NaN          6.0
5   F         NaN          7.0

<center><img src='https://i.stack.imgur.com/euLoe.png' alt="Drawing" style="width: 600px;"/></center>

### Overview of merge types

<center><img src='https://www.dofactory.com/Images/sql/sql-joins.png' alt="Drawing" style="width: 450px;"/></center>

More merge type exists, see [this post](https://stackoverflow.com/questions/53645882/pandas-merging-101) for details.

## Joining DataFrames

We can also join by keys in the index. This is possible with `join` or `concat`:
- both methods work vertically and horizontally.
- `concat` works with  multiple DataFrames at once;

Requirement: overlapping index keys or column names.

In [83]:
df0 = left.set_index('key')
df1 = right.set_index('key')

### Horizontal join 

Works like `merge` where keys is now the index!

In [84]:
inner_data = df0.join(df1, how='inner')
inner_data

     value_left  value_right
key
C             2            4
D             3            5

### Vertical Join, Axis = 1

`concat` on axis=1 acts similar to a outer join.

In [85]:
dfs = [df0, df1]
print(dfs)
print()
print(pd.concat(dfs, axis=1, sort=False))

[     value_left
key
A             0
B             1
C             2
D             3,      value_right
key
C              4
D              5
E              6
F              7]

   value_left  value_right
A         0.0          NaN
B         1.0          NaN
C         2.0          4.0
D         3.0          5.0
E         NaN          6.0
F         NaN          7.0

### Vertical Join, Axis = 0

On the other hand, `concat` on axis=0 stacks the dataframes on top of each other!

In [86]:
print(pd.concat([df0, df1], join='outer', axis=0, sort=False))

     value_left  value_right
key
A           0.0          NaN
B           1.0          NaN
C           2.0          NaN
D           3.0          NaN
C           NaN          4.0
D           NaN          5.0
E           NaN          6.0
F           NaN          7.0

### Vertical and Horizontal

An overview of `concat`/`join` operations (left: horizontal, right: vertical)

<center><img src='https://i.stack.imgur.com/1rb1R.jpg' alt="Drawing" style="width: 750px;"/></center>

### Example of Using Concat (I/III)

Let's load some stock data...

In [87]:
# In anaconda prompt: "pip install pandas-datareader"

from pandas_datareader import data
import matplotlib.pyplot as plt # For plotting

stocks = ['aapl', 'goog', 'msft', 'amzn', 'fb', 'tsla']

def load_stock(s):
    return data.DataReader(s, data_source='yahoo', start='2000')['Adj Close']

stock_dfs = {s:load_stock(s) for s in stocks} # dictionary of all stock price
stock_df = pd.concat(stock_dfs, axis=1) # horizontal join

RemoteDataError: Unable to read URL: https://finance.yahoo.com/quote/aapl/history?period1=946695600&period2=1625277599&interval=1d&frequency=1d&filter=history
Response Text:
b'<!DOCTYPE html>\n  <html lang="en-us"><head>\n  <meta http-equiv="content-type" content="text/html; charset=UTF-8">\n      <meta charset="utf-8">\n      <title>Yahoo</title>\n      <meta name="viewport" content="width=device-width,initial-scale=1,minimal-ui">\n      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">\n      <style>\n  html {\n      height: 100%;\n  }\n  body {\n      background: #fafafc url(https://s.yimg.com/nn/img/sad-panda-201402200631.png) 50% 50%;\n      background-size: cover;\n      height: 100%;\n      text-align: center;\n      font: 300 18px "helvetica neue", helvetica, verdana, tahoma, arial, sans-serif;\n  }\n  table {\n      height: 100%;\n      width: 100%;\n      table-layout: fixed;\n      border-collapse: collapse;\n      border-spacing: 0;\n      border: none;\n  }\n  h1 {\n      font-size: 42px;\n      font-weight: 400;\n      color: #400090;\n  }\n  p {\n      color: #1A1A1A;\n  }\n  #message-1 {\n      font-weight: bold;\n      margin: 0;\n  }\n  #message-2 {\n      display: inline-block;\n      *display: inline;\n      zoom: 1;\n      max-width: 17em;\n      _width: 17em;\n  }\n      </style>\n  <script>\n    document.write(\'<img src="//geo.yahoo.com/b?s=1197757129&t=\'+new Date().getTime()+\'&src=aws&err_url=\'+encodeURIComponent(document.URL)+\'&err=%<pssc>&test=\'+encodeURIComponent(\'%<{Bucket}cqh[:200]>\')+\'" width="0px" height="0px"/>\');var beacon = new Image();beacon.src="//bcn.fp.yahoo.com/p?s=1197757129&t="+new Date().getTime()+"&src=aws&err_url="+encodeURIComponent(document.URL)+"&err=%<pssc>&test="+encodeURIComponent(\'%<{Bucket}cqh[:200]>\');\n  </script>\n  </head>\n  <body>\n  <!-- status code : 404 -->\n  <!-- Not Found on Server -->\n  <table>\n  <tbody><tr>\n      <td>\n      <img src="https://s.yimg.com/rz/p/yahoo_frontpage_en-US_s_f_p_205x58_frontpage.png" alt="Yahoo Logo">\n      <h1 style="margin-top:20px;">Will be right back...</h1>\n      <p id="message-1">Thank you for your patience.</p>\n      <p id="message-2">Our engineers are working quickly to resolve the issue.</p>\n      </td>\n  </tr>\n  </tbody></table>\n  </body></html>'

### Example of Using Concat (II/III)

What do the data look like?

In [ ]:
stock_df.tail(10)

### Example of Using Concat (III/III)

Now, let's try and visualize it (more about this in next session)!

In [ ]:
ax = stock_df.plot(logy=True, figsize=(10,3))
ax.legend(["Apple", "Google","Microsoft", "Amazon","Facebook", "Tesla"], loc='best', ncol=2)

# VIDEO 4: Split-Apply-Combine

## A Definition
*What is the split-apply-combine framework?*

A procedure to...
1. **split** a DataFrame into subsets of data,
2. **apply** certain functions (sorting, mean, other custom stuff), and
3. **combine** it back into a DataFrame

Application example: compute mean personal income.

## The Process $-$ an Overview

How do we *split* observations by x and *apply* the calculation mean of y?*

<center><img src='https://raw.githubusercontent.com/abjer/sds2017/master/slides/figures/split-apply-combine.png'></center>

## Split-apply-combine in Pandas

A powerful tool in DataFrames is the `groupby` method. Example:

In [ ]:
split_var = 'sex' # like x in figure
apply_var = 'total_bill' # like y in figure

tips.groupby(split_var)[apply_var].mean()

## What is groupby?
`groupby` creats a collection of sub-dataframes we can process.

We can iterate over a groupby object. Example:

In [ ]:
results = {}

for group, group_df in tips.groupby('sex'):
      results[group] = group_df.total_bill.mean() 
    
pd.Series(results)

## Other Methods and Functions in groupby

Can other functions be applied?

- Yes: `mean`, `std`, `min`, `max` all work. 
- Using `.apply()` method and inserting your ***homemade*** function works too.

## Additional variables groupby
Does `groupby` work for multiple variables, functions?

In [ ]:
split_vars = ['sex', 'time'] 
apply_vars = ['total_bill', 'tip']
apply_fcts = ['median', 'mean', 'std']
combined = tips.groupby(split_vars)[apply_vars].agg(apply_fcts)

print(combined.reset_index() )

Note grouping with multiple variables uses a [MultiIndex](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.MultiIndex.html) which we do not cover.

## Maintaining the Structure
*How do we get our `groupby` output into the original dataframe?*

- Option 1: you use `transform`.

- Option 2: you merge it (not always recommended)

In [ ]:
mu_sex = tips.groupby(split_vars)[apply_var].transform('mean').rename('tb_mu')
tips_merge = pd.merge(tips, mu_sex, left_index=True, right_index=True, how='inner')

dev_sex = (tips.total_bill - mu_sex).rename('tb_dev')
tips_merge = pd.merge(tips_merge, dev_sex, left_index=True, right_index=True, how='inner')

print(tips_merge.head(5))

# Video 5: Reshaping Data

## Stacking Data (I/II)

A DataFrame can be collapsed into a Series with the **stack** command.

Let's generate a simple example:

In [ ]:
df = pd.DataFrame([[1,2],[3,4]],columns=['EU','US'],index=[2000,2010])
df

Now, stack the data:

In [ ]:
stacked = df.stack() # going from wide to long format 
stacked

## Stacking Data (II/II)

Clearly, the data now comes with **hierarchical indexing**; first year, then region.

If we want, we can just reset the indexing:

In [ ]:
stacked = stacked.reset_index()
stacked

And then do the renaming...

In [ ]:
stacked.columns = ['year', 'place', 'value']
stacked

## To Wide Format

NoteThe stacked DataFrame is in long/tidy format, the original is wide.

We can easily transform a long DataFrame with `unstack()`

In [ ]:
print(stacked)
print()
print(df.stack().unstack(level=1))
print()
print(df.stack().unstack(level=0))

## More Stuff

Other cool functions include
- `melt` which only stacks certain columns
- `pivot` which makes you to reshape the dataframe like in Excel

# Video 6: Summary and Beyond Pandas

## Summary

Session 2: The Basics of Pandas
1. Welcome (Back to) Pandas
    - DataFrames and Series
    - Operations with Elementary Data Types
        - Boolean Operations
        - Numeric Operations and Methods
        - String Operations
2. Readible Code and Method Chaining
3. More Advanced Data Types
    - Categorical Data
    - Time Series Data

Session 3: Pandas for Data Cleaning and Preparation
1. Missings and Duplicated Data:
    - Handling Missings: Delete or Impute?
    - Spotting and Interpreting Duplicates
2. Combining Data Sets:
    - Intro to `merge`, `concat` and `join`
    - Horizontal and Vertical Merging
3. Split-Apply-Combine
    - Finding Means and Other Characteristics from Data Subsets (aggregation)
4. Reshaping Data
    - Wide and Long Data
    - Intro to `stack`

## Beyond Pandas

If you want more sophisticated data processing tools.

Single machine:
- `multiprocessing` and `joblib` for executing code in parallel (using multiple cores)

Multiple machines (cluster):
- `dask` uses a pandas like syntax, also useful for parallelizing
- `pyspark` is python bsed but uses multiple machines